@model User

<h1>Your User</h1>
@* <h2>Name: @ViewBag.User.Name</h2>
<h2>Name: @ViewBag.User.FavColor</h2>
<h2>Name: @ViewBag.User.FavNumber</h2> *@

<h2>Name: @Model.Name</h2>
<h2>Name: @Model.FavColor</h2>
<h2>Name: @Model.FavNumber</h2>
@* //can only use one model per page if going by model, but model does add extra security *@